<div id = "formContainer">
  <div class = "app-form">
    <h3>Enter your details</h3> 
    <form class="saladForm" novalidate id = "formContainer">
      <div class="form-group row">
        <div class="col-3 ">
          <label for="validationTooltip01">First name</label>
          <input type="text" class="form-control" name = "firstName" id="validationTooltip01" placeholder="First name" [(ngModel)]="saladObj.firstname" value="Mark" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-3">
          <label for="validationTooltip02">Last name</label>
          <input type="text" class="form-control" name = "lastName" id="validationTooltip02" placeholder="Last name" [(ngModel)]="saladObj.lastname" value="Otto" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
          <div class="col-3">
            <label for="validationTooltip03">Phone</label>
            <input type="number" class="form-control" name = "phone" id="validationTooltip03" placeholder="Phone" [(ngModel)]="saladObj.phone" value="123-456-7890" required>
            <div class="valid-tooltip">
              Looks good!
            </div>  
        </div>

      </div>

      <!-- <div>
        <tabset>
          <tab heading="Basic title" id="tab1">Basic content</tab>
          <tab heading="Basic Title 1">Basic content 1</tab>
          <tab heading="Basic Title 2">Basic content 2</tab>
        </tabset>
      </div> -->
      
    </form>  
    <button id="button1" class="btn btn-primary mr-4">Button 1</button>
    <button id="button2" class="btn btn-primary mr-4">Button 2</button>
    <button id="button3" class="btn btn-primary">Button 3</button>
    <div class="form-group row" >
      <div id = "name" class = "mx-3"*ngFor= "let topping of toppings">
        <div (click)= selectToppings(topping)>
            <span class=" icon {{topping}} "></span>
            <span>
              {{topping}}
            </span>
        </div>
      </div>
    </div>
</div>
</div>



<!-- <form class="saladForm" novalidate id = "formContainer">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">First name</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" value="Mark" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Last name</label>
      <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">City</label>
      <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
      <div class="invalid-tooltip">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Zip</label>
      <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form> -->