.bg-light {
    color : #afd7b8 !important;
}

#saladBg {
      height: 1000px;
     display: inline-block;
     object-fit: cover;
     background-image: url('/assets/SaladTomato.jpg');
   }




// .Right {
//     background: grey;
//     min-width: 35%;
//     min-height: 100%;
//     float: left;
//  }

//  .left {
//     padding-left : 5px;
//    background: red;
//     min-width: 65%;
//     min-height: 100%;
//     float: right;
//  }
